DB_ROOT_PASS=changeme_root                          # MariaDB root password
DB_PASS=mySecretDatabasePassword                    # App DB user password
OMDB_API_KEY=INSERTAPIKEY                           # From omdbapi.com
PORT=3000                                           # Web port (change if 3000 is taken)
